body {
    background-color: black;
}

#navBar:after {
    content: '';
    display: inline-block;
    width: 100%;
}

#navBar{
    list-style-type: none;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    text-align: justify;
    min-width: 1000px;
}

#navBar li {
    display: inline-block;
}


.line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

header{
    background-color:grey
}

#demoData{
background-color:dodgerblue;
}

.demoData{
    
    list-style-type: none;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    text-align: justify;
    min-width: 1000px;
}

.demoData li {
    display: inline-block;
}

.demoData:after{
    content: '';
    display: inline-block;
    width: 100%;
}

body {
    margin: auto;
}

.data{
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 1000px;
}

.data li {
    display: inline-block;
}

.axis line{
  stroke: white;
}

.axis path{
  stroke: white;
}

.axis text{
  fill: white;
}  
